<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso para acceder a Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.G_ap"
        android:usesCleartextTraffic="true">

        <!-- Actividad de Login (será la nueva actividad principal) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Dashboards para cada rol -->
        <activity android:name=".ClienteDashboardActivity" />
        <activity android:name=".ProfesorDashboardActivity" />
        <activity android:name=".AdminDashboardActivity" />

        <!-- Actividades específicas de cada flujo -->
        <activity android:name=".VerRutinaActivity" />
        <activity android:name=".RegistrarProgresoActivity" />
        <activity android:name=".EditarRutinaActivity" />
        <activity android:name=".BancoEjerciciosActivity" />
        <activity android:name=".GestionPagosActivity" />
        <activity android:name=".GestionVentasActivity" />

    </application>

</manifest>